    <nav class="navbar navbar-default custom-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><a class="navbar-brand navbar-link" href="#">Nombre<span>sitio</span> </a></div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">username <span class="caret"></span><img src="assets/img/avatar.jpg"class="dropdown-image"></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Configuración</a></li>
                            <li class="active"><a ng-click="logout()">logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div>
		<ul class="bar">
			<li><a class="active" href="#home">Página Principal</a></li>
			<button class="accordion">Tutoriales</button>
			<div class="panel">
				<button class="accordion">Unidad 1</button>
				<div class="panel">
					<li><a href="#tutorial1-1">Contenido 1</a></li>
					<li><a href="#tutorial1-2">Contenido 2</a></li>
					<li><a href="#tutorial1-3">Contenido 3</a></li>
				</div>
				<button class="accordion">Unidad 2</button>
				<div class="panel">
					<li><a href="#tutorial2-1">Contenido 1</a></li>
					<li><a href="#tutorial2-2">Contenido 2</a></li>
					<li><a href="#tutorial2-3">Contenido 3</a></li>
				</div>
				<button class="accordion">Unidad 3</button>
				<div class="panel">
					<li><a href="#tutorial3-1">Contenido 1</a></li>
					<li><a href="#tutorial3-2">Contenido 2</a></li>
					<li><a href="#tutorial3-3">Contenido 3</a></li>
				</div>
			</div>
			<button class="accordion">Simuladores</button>
			<div class="panel">
				<li><a href="#/simulador">Modelo Unificado</a></li>
				<li><a href="#sim2">Modelo Fuzzy EER</a></li>
			</div>
		</ul>
	</div>
	<div style="margin-left:15%;margin-top:16px;padding:1px 16px;height:1000px;">
		<h2>Test</h2>
	</div>
	<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].onclick = function(){
			this.classList.toggle("active");
			this.nextElementSibling.classList.toggle("show");
		}
	}
	</script>
