  

    <nav class="navbar navbar-default custom-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><a class="navbar-brand navbar-link" href="#">Nombre<span>sitio </span> </a></div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="caret"></span><img src="assets/img/avatar.jpg" class="dropdown-image"></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Configuración </a></li>
                            <li class="active"><a <a ng-click="logout()">logout</a> </a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div>
		<ul class="bar">
			<li><a href="#/app">Página Principal</a></li>
			<button class="accordion">Tutoriales</button>
			<div class="panel">
				<button class="accordion">Lógica y Conjuntos Difusos</button>
				<div class="panel">
					<li><a href="#/logica">Lógica Difusa</a></li>
					<li><a href="#/conjuntos">Conjuntos Difusos</a></li>
					<li><a href="#">Contenido 3</a></li>
				</div>
				<button class="accordion">Modelos Relacionales Difusos</button>
				<div class="panel">
					<li><a href="#/modelos">Introducción</a></li>
					<li><a href="#/unificado">Modelo Unificado</a></li>
					<li><a href="#">Contenido 3</a></li>
				</div>
				<button class="accordion">Modelo Fuzzy EER</button>
				<div class="panel">
					<li><a href="#/eer">Introducción</a></li>
					<li><a href="#">Contenido 2</a></li>
					<li><a href="#">Contenido 3</a></li>
				</div>
			</div>
			<button class="accordion">Simuladores</button>
			<div class="panel">
				<li><a class="active" href="#/simulador">Modelo Unificado</a></li>
				<li><a href="#/simulador2">Modelo Fuzzy EER</a></li>
			</div>
		</ul>
	</div>
	<div style="margin-left:20%;margin-top:60px;padding:1px 16px;height:1000px;">
    
 



	<div  style="text-align: justify; width:600px;">



	<center>   <h2>Simulador Relaciones de Similitud</h2> </center>
 

	<center>   <h3>Ejemplo en que se basa el Simulador. </h3> </center>
 
<table>
<thead><tr><th>1</th><th>2</th><th>3</th></tr></thead>

<tbody>
  <tr ng-repeat="user in users">
    <td>{{ user.rock_reg }}</td>
    <td>{{ user.rock_pop }}</td>
    <td>{{ user.rock_ska }}</td>
    <td>{{ user.rock_jazz }}</td>
    <td>{{ user.reg_pop }}</td>
    <td>{{ user.reg_ska }}</td>
    <td>{{ user.reg_jazz }}</td>
    <td>{{ user.pop_ska }}</td>
    <td>{{ user.pop_jazz }}</td>
    <td>{{ user.ska_jazz }}</td>
   </tr>
</tbody>
</tfoot></tfoot>


</table>


</div>



<center>


</center>








<script>
// Append all the named children to the form and then submit it
// Assumes the class of any input used by the form is the same as the form id
function submitMyForm( form_id )
{
    var form = document.getElementById( form_id );
    var form_elements = document.getElementsByClassName( form_id );
    var i;
    for (i = 0; i < form_elements.length; i++) {
        form.appendChild( form_elements[i] );                   
    }
    form.submit();
}   
</script>






  </div>
  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
      this.classList.toggle("active");
      this.nextElementSibling.classList.toggle("show");
    }
  }
  </script>

  <script>

$(document).ready(function(){
    $(".copyMe").keyup(function(){
        $(".copyMe").val($(this).val());
    });
});


$(document).ready(function(){
    $(".copyMeuno").keyup(function(){
        $(".copyMeuno").val($(this).val());
    });
});






$(document).ready(function(){
    $(".copyMeunodos").keyup(function(){
        $(".copyMeunodos").val($(this).val());
    });
});



$(document).ready(function(){
    $(".copyMedos").keyup(function(){
        $(".copyMedos").val($(this).val());
    });
});




$(document).ready(function(){
    $(".copyMetres").keyup(function(){
        $(".copyMetres").val($(this).val());
    });
});


$(document).ready(function(){
    $(".copyMecuatro").keyup(function(){
        $(".copyMecuatro").val($(this).val());
    });
});



$(document).ready(function(){
    $(".copyMecinco").keyup(function(){
        $(".copyMecinco").val($(this).val());
    });
});





$(document).ready(function(){
    $(".copyMeseis").keyup(function(){
        $(".copyMeseis").val($(this).val());
    });
});






$(document).ready(function(){
    $(".copyMesiete").keyup(function(){
        $(".copyMesiete").val($(this).val());
    });
});







$(document).ready(function(){
    $(".copyMeocho").keyup(function(){
        $(".copyMeocho").val($(this).val());
    });
});

$(document).ready(function(){
    $(".copyMenueve").keyup(function(){
        $(".copyMenueve").val($(this).val());
    });
});

$(document).ready(function(){
    $(".copyMediez").keyup(function(){
        $(".copyMediez").val($(this).val());
    });
});







  </script>




